@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
}


.hero-header {
  padding-top: 80px;
}

.banner {
  padding-top: 30px;
  padding-bottom: 20px;
}